<div style="padding: 15px; text-align: center; justify-items: center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="search-container">
      <div>Guess the Pokemon</div>
      <input Type="text"
             [(ngModel)]="searchTerm"
             placeholder="Search Pokemon"
             formControlName="pokemonName"
             (ngModelChange)="onInputChange($event)">
      <button Type="submit" class="button" [disabled]="isFind">Submit</button>
      <button *ngIf="isFind" class="button" (click)="rematch()">Rematch</button>
      <ul class="dropdown" *ngIf="dropdownOpen && filteredPokemon.length > 0 && searchTerm.trim() !== ''">
        <li *ngFor="let pokemon of filteredPokemon" (click)="selectPokemon(pokemon)">
          <div>
            {{ pokemon.Name }}
          </div>

        </li>
      </ul>
    </div>
  </form>

  <div *ngIf="isFind" style="margin-bottom: 15px">
    GG !
    Number of tries: {{count}}
  </div>

  <div style="text-align: center">
    <div class="answer">
      <div class="container">
        <div class="card-title">Pokémon</div>
        <div class="card-title">N°</div>
        <div class="card-title">Name</div>
        <div class="card-title">Type 1</div>
        <div class="card-title">Type 2</div>
      </div>
    </div>
    <div class="answer" *ngIf="pokemonSelected.length > 0">
      <div class="container" *ngFor="let pokemon of pokemonSelected.slice().reverse()">
        <div class="card">
          <div class="card-content-image" [ngStyle]="{'background-image': 'url(' + pokemon?.imageUrl + ')'}"></div>
        </div>
        <div class="card">
          <div class="card-content"
               [ngClass]="{ 'green-background': pokemon.Id === pokemonToFind.Id, 'red-background': pokemon.Id !== pokemonToFind.Id }">
            {{ pokemon.Id }}
            <div>
             <span *ngIf="pokemon.Id !== pokemonToFind.Id">
              <span *ngIf="pokemon.Id < pokemonToFind.Id">↑</span>
             <span *ngIf="pokemon.Id > pokemonToFind.Id">↓</span>
            </span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content"
               [ngClass]="{ 'green-background': pokemon.Name.toLowerCase() === pokemonToFind.Name.toLowerCase(), 'red-background': pokemon.Name.toLowerCase() !== pokemonToFind.Name.toLowerCase() }">
            {{ pokemon.Name }}
          </div>
        </div>
        <div class="card">
          <div class="card-content"
               [ngClass]="{ 'green-background': pokemon.Type1.toLowerCase() === pokemonToFind.Type1.toLowerCase(), 'red-background': pokemon.Type1.toLowerCase() !== pokemonToFind.Type1.toLowerCase() }">
            {{ pokemon.Type1 }}
          </div>
        </div>
        <div class="card">
          <div class="card-content"
               [ngClass]="{ 'green-background': pokemon.Type2?.toLowerCase() === pokemonToFind.Type2?.toLowerCase(), 'red-background': pokemon.Type2?.toLowerCase() !== pokemonToFind.Type2?.toLowerCase() }">
            {{ pokemon.Type2 || 'No Type' }}
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

